body {
  margin: 0;
  padding: 0;
}

section {
  background: url('bg.png');
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.snow1 {
  background: url('snow1.png');
  background-size: 130px;
  width: 100%;
  height: 700px;
  position: absolute;
  animation: animateOne 6s infinite linear;
  filter: blur(0.1px);
}



.snow2 {
  background: url('snow2.png');
  background-size: 200px;
  width: 100%;
  height: 700px;
  position: absolute;
  animation: animateTwo 6s infinite linear;
}

.snow3 {
  background: url('snow3.png');
  background-size: 230px;
  width: 100%;
  height: 700px;
  position: absolute;
  animation: animateThree 6s infinite linear;
  filter: blur(0.11px);
}
.snow4 {
  background: url('snow4.png');
  background-size: 150px;
  width: 100%;
  height: 700px;
  position: absolute;
  animation: animateFour 6s infinite linear;
  filter: blur(0.01px);
}


.snow5 {
  background: url('snow5.png');
  background-size: 100px;
  width: 100%;
  height: 700px;
  position: absolute;
  top: -700px;
  animation: animateFive 6s infinite linear;
  animation-delay: 3.5s;
}

.snow6 {
  background: url('snow6.png');
  background-size: 100px;
  width: 100%;
  height: 700px;
  position: absolute;
  top: -700px;
  animation: animateSix 6s infinite linear;
  animation-delay: 3.5s;
}

.snow7 {
  background: url('snow7.png');
  background-size: 130px;
  width: 100%;
  height: 700px;
  top: -700px;
  position: absolute;
  animation: animateSeven 6s infinite linear;
  filter: blur(0.01px);
  animation-delay: 3.5s;
}

.snow8 {
  background: url('snow8.png');
  background-size: 180px;
  width: 100%;
  height: 700px;
  top: -700px;
  position: absolute;
  animation: animateEight 6s infinite linear;
  filter: blur(0.11px);
  animation-delay: 3.5s;
}

.snow9 {
  background: url('snow5.png');
  background-size: 200px;
  width: 100%;
  height: 700px;
  position: absolute;
  top: -700px;
  animation: animateFive 7s infinite linear;
  animation-delay: 1.5s;
}

.snow10 {
  background: url('snow6.png');
  background-size: 150px;
  width: 100%;
  height: 700px;
  position: absolute;
  top: -700px;
  animation: animateSix 6s infinite linear;
  animation-delay: 7s;
}

.snow11 {
  background: url('snow7.png');
  background-size: 180px;
  width: 100%;
  height: 700px;
  top: -700px;
  position: absolute;
  animation: animateSeven 6s infinite linear;
  filter: blur(0.01px);
  animation-delay: 7s;
}

.snow12 {
  background: url('snow8.png');
  background-size: 220px;
  width: 100%;
  height: 700px;
  top: -700px;
  position: absolute;
  animation: animateEight 6s infinite linear;
  filter: blur(0.11px);
  animation-delay: 7s;
}

@keyframes animateOne
{
  0%{
    top: -700px;
    right: 0px;
  }
  100%{
    top: 500px;
    right: 500px;
    opacity: 0;
  }
}

@keyframes animateTwo
{
  0%{
    top: -700px;
    left: 0px;
  }
  100%{
    top: 500px;
    left: 500px;
    opacity: 0;
  }
}
@keyframes animateThree
{
  0%{
    top: -700px;
    left: 0px;
    opacity: 0.8;
  }
  100%{
    top: 500px;
    left: 200px;
    opacity: 0.95;
  }
}

@keyframes animateFour
{
  0%{
    top: -700px;
    right: 0px;
  }
  100%{
    top: 500px;
    right: 200px;

  }
}

@keyframes animateFive
{
  0%{
    top: -700px;
    left: 0px;
  }
  20% {
    left: 90px;
  }
  80% {
    left: -80px;
  }
  100%{
    top: 850px;
    left: 80px;
  }
}

@keyframes animateSix
{
  0%{
    top: -700px;
    right: 0px;
  }
  40% {
    right: 100px;
  }
  80% {
    right: -30px;
  }
  100%{
    top: 850px;
    right: 50px;
  }
}
@keyframes animateSeven
{
  0%{
    top: -700px;
    right: 0px;
  }
  50%{
    right: 100px;
  }
  100%{
    top: 850px;
    right: -20px;

  }
}
@keyframes animateEight
{
  0%{
    top: -700px;
    left: 0px;
  }
  50% {
    left: 120px;
  }
  70% {
    left: 80px;
  }
  100%{
    top: 850px;
    left: 120px;

  }
}
